.pt-container{
  
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(84, 86, 84);
    object-fit: contain;
}

.pt-container > h1 {
 color: white;
 font-size: 200px;
 margin-top: -100px;
}

.pt-container > p {
    margin-top: 80px;
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pt-btn {
    margin-top: 32px;
}

.pt-btn {
    margin-top: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px){
   .pt-container >h1 {
     font-size: 70px;
    margin-top: -150px;
   }
   
}

@media screen and (max-width: 768px){
    .pt-container >h1 {
        font-size: 50px;
       margin-top: -100px;
      }

.pt-container > p {
    font-size: 30px;
}

.btn-mobile {
    display: block;
    text-decoration: none;
}

.btn {
    width: 100%;
}

}
